<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylel.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form action="{% url 'login' %}" method="POST" class="login-form">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button type="submit">Login</button>
            {% for message in messages %}
                <h3>{{message}}</h3>
            {% endfor %}
            <p class="message">Not registered? <a href="{% url 'registration' %}">Create an account</a></p>
            <h4><a href="{% url 'home' %}" style="text-decoration:none; color: grey;">Go back home</a></h4>
          </form>
        </div>
      </div>
</body>
<script>
    $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
 });
</script>
</html>